<link rel= "stylesheet" href ="./styles/adminpanel.css">

<div style="width:100%;height:50px;text-align:center;">
    <h1>Cinema System - Administrator Panel</h1>
</div>

<!--Adding Movie-->
<div class="flexColumnM">
    <h3>Add Movie</h3>
    <form action="/add-new-movie" method="POST">
        <div style="display:flex;flex-direction:row;">
            <div class="flexColumn" style="align-items:flex-end;">
                <label for="titleINP">Title:</label>
                <label for="yearINP">Year:</label>
                <label for="ratingINP">Rating:</label>
                <label for="descriptionINP">Description:</label>
            </div>

            <div class="flexColumn" style="margin-left:3px;">
                <input id="titleINP" name="title" type="text">
                <input id="yearINP" name="year" type="text">
                <select id="ratingINP" name="rating" style="width:177px;">
                    <option value="G">G</option>
                    <option value="PG">PG</option>
                    <option value="12">12</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="18">18</option>
                </select>
                <textarea id="descriptionINP" name="description" style="height:60px;width:171px;"></textarea>
                <input type="submit" class="inputSubmit">
            </div>
        </div>
    </form>
</div>

<!--Deleting Movie-->
<div class="flexColumnM">
    <h3>Delete Movie</h3>
    <form action="/delete-movie" method="POST">
        <label for="movieDEL">ID or title: </label>
        <input id="movieDEL" name="movieDelete" type="text">
        <input type="submit" class="inputSubmit">
    </form>
</div>

<div id="movieList" class="flexColumn" style="text-align:center;margin:5px;">
    <div class="flexRow">
        <div class="dispTop1">Film ID</div>
        <div class="dispTop2" style="width:300px;">Title</div>
        <div class="dispTop1">Year</div>
        <div class="dispTop2">Rating</div>
        <div class="dispTop1" style="width:100%;">Description</div>
    </div>
    
    {{#if films}}
        {{#each films}}
        <div class="flexRow">
            <div class="disp1">{{filmID}}</div>
            <div class="disp2" style="width:300px;">{{title}}</div>
            <div class="disp1">{{year}}</div>
            <div class="disp2">{{rating}}</div>
            <div class="disp1"  style="width:100%;overflow-y:scroll;overflow-x: none; text-overflow:ellipsis;">{{description}}</div>
        </div>
        {{/each}}
    {{else}}
        <div style="width:660px;height:20px;background-color:rgb(160, 160, 160);">Films table empty</div>
    {{/if}}
</div>