<link rel= "stylesheet" href ="./styles/managementpanel.css">



<div id="screeningList" class="flexColumn" style="text-align:center;">
    <div class="flexRow">
        <div class="dispTop1">Screening ID</div>
        <div class="dispTop2">Film ID</div>
        <div class="dispTop1">Room</div>
        <div class="dispTop2">Seats Booked</div>
        <div class="dispTop1" style="width:160px;">Date/Time</div>
    </div>
    {{#if screenings}}
        {{#each screenings}}
        <div class="flexRow">
            <div class="disp1">{{screeningID}}</div>
            <div class="disp2">{{filmID}}</div>
            <div class="disp1">{{roomID}}</div>
            <div class="disp2">{{seatsBoked}}</div>
            <div class="disp1"  style="width:160px;">{{showtime}}</div>
        </div>
        {{/each}}
    {{else}}
        <div style="width:560px;height:20px;background-color:rgb(160, 160, 160);">Screenings table empty</div>
    {{/if}}
</div>